@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/
header{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
nav{
    padding: 20px 25px;
    max-width: 1270px;
    height: 70px;
    margin: .9rem auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: 1.3rem;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
    margin: 0 5px;
}

.menu li a{
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    padding:0 10px;
    color: #8224e3;
}

.menu li a:hover{
    color: black;
}

.menu li a ion-icon{
    font-size: 2rem;
}

.toggle{
    display: none; 
    right: 30px;
    width: 41px;
    height: 35px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #8224e3;;
    border-radius: 10%;
    color: #8224e3;
}

@media (max-width:1080px){
    .toggle{
        display: inline-block;
        margin-right: 5px;
    }

    nav{
        justify-content: space-between;  
        padding: 20px 15px;
    }
    .menu {
        display: flex;
        flex-flow: column;
        background: white; 
        position: absolute; 
        top: 70px;
        left: 0; 
        width: 100%;
        opacity: 0; 
        transform: scaleY(0); 
        transition: transform .3s;
        transition: opacity .5s;
        transform-origin: top 
    }

	nav.active .menu{ 
        transform: scaleY(1); 
        transition: all .3s;
        opacity: 1 
    }

    nav .menu li{
        padding: 5px 10px;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        cursor: pointer;
    }
}
/*HEADER END*/

/*MAIN*/
.frst-sec{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 32%),
     url('pics/nav-hatter.jpg') no-repeat center center;
    
    min-height: 800px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 80px 80px;
}

.frst-sec .container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.frst-sec .container .item{
    flex-basis: 50%;
    margin:0 0 0 30px;
}

.frst-sec .container .item h2{
    word-wrap: break-word;
    line-height: 5.5rem;
    font-weight: 400;
    color: #8224E3;
    font-family: "Dancing Script", Sans-serif;
    font-size: 4.6em;
    text-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
    margin: 0 0 20px 0;
}

.frst-sec .container .item input{
    width: 100%;
    height: 36px;
    font-size: 1rem;
    padding: 0 12px;
    border: none;
    outline: 0;
}

.frst-sec .container .item a{
    display: block;
    text-align: center;
    width: 15rem;
    height: 3rem;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    color: white;
    background: #8224E3;
    margin-top: 50px;
    padding: 18px 0;
    border-radius: 3px;
    transition: background-color .4s;
}

.frst-sec .container .item a:hover{
    color: white;
    background: black;
}

@media (max-width:400px){
    .frst-sec .container .item input{
        width: 70vw;
    }
    .frst-sec .container .item h2{
        line-height: 4rem;
        font-size: 4em;
    }
    .frst-sec{
        align-items: flex-start;
        margin-top: 80px;
        min-height: 490px;
        border-radius: 0px 0px 30px 30px;
    }
}

.scnd-sec{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 1300px;
}

.scnd-sec .item{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 50%;
    color:#8224E3;   
}

.scnd-sec .item .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000024;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 1rem 0 0;
 }

 .scnd-sec .item .icon ion-icon{
    font-size: 2rem;
 }

.scnd-sec .item h3{

    font-size: 1.2rem;
    font-weight: 500;
 
 }

.scnd-sec .item h4{
    font-size: .9rem;
    font-weight: 400;
    color: #808285;
 }

 @media (max-width:900px){
    
    .scnd-sec .item{
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        display: flex;
        flex-basis: 100%;
        text-align: center;
    }

    .scnd-sec .item:last-child{
        margin-top: 20px;
    }
}

.thrd-sec{
    margin-top: 100px;
    margin-bottom: 50px;
}

.thrd-sec .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    max-width: 1200px;
    margin: 5px auto;
}

.thrd-sec .wrapper .col{
    flex-basis: 33.3%;
    border-radius: 1.5rem;
    margin: 0 30px 0 15px;
    height: 550px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.thrd-sec .wrapper .col .text{
    padding: 0 0 40px 20px;
    font-weight: 500;
}

.thrd-sec .wrapper .col .text p{
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
}

.thrd-sec .wrapper .col .text a{
    font-size: 1rem;
    color:#8224E3;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s;
}

.thrd-sec .wrapper .col .text a:hover{
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.thrd-sec .wrapper .col:nth-child(1){
    background: url('pics/ferfi.jpg') no-repeat -422px -50px;;
    background-size: auto;
}
.thrd-sec .wrapper .col:nth-child(2){
    background: url('pics/noi.jpg') no-repeat -563px 0px;
    background-size: cover;
}
.thrd-sec .wrapper .col:nth-child(3){
    background: url('pics/ekszerek.jpg') no-repeat top center;;
    background-size: cover;
}

@media (max-width:1027px){
    .thrd-sec .wrapper .col{
        flex-basis: 33.3%;
        height: 350px;
        margin: 5px 10px;
    }
}
@media (max-width:900px){
    .thrd-sec .wrapper .col{
        flex-basis: 90%;
        height: 300px;
        text-align: center;
        align-items: center;
        justify-content:center;
        margin: 10px 0;
    }
    .thrd-sec .wrapper{
        flex-flow: row wrap;
        margin: 50px auto;
    }
    .thrd-sec .wrapper .col:nth-child(2){
        background: url('pics/noi.jpg') no-repeat center center;
        background-size: cover;
    }
    .thrd-sec{
        margin-top: 50px;
    }
    .thrd-sec .wrapper .col .text{
        padding: 0;
    }    
}

.frt-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 100vw;
    margin: 0px auto;
    background-color: #F9F9F9;
    text-align: center;
    padding: 50px 0;
}

.frt-sec h1{
    color:#8224E3;
    font-size: 2.5rem;
    font-weight: 500;
}

.fth-sec{
    max-width: 100vw;
    background-color: #F9F9F9;
    padding-bottom: 100px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 1200px;
    margin: 0px auto;
}

.ref{
    list-style: none;
    margin: 0 10px;
    display: flex;
    flex-flow: row wrap;
}

.ref li{
    flex-basis: 33.3%;
    padding: 0 10px;
    margin: 0 0 20px 0;
}

.ref .box{
    height: 100%;
    background: white;
    border-radius: 10px;
}

.ref img{
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

img {
    max-width: 100%;
    height: 321px;
}

.ref h3 {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 20px;
    color:#8224E3;
}

.ref ion-icon{
    color:#8224E3;
}

.ref h4 {
    font-weight: 300;
    font-size: 14px;
    padding: 0 20px;
}

.ref p {
    padding: 0 20px;
    line-height: 1.6;
    font-weight: 500;
    color: #000;
}

@media (max-width:700px){
    .ref li{
        flex-basis: 90%;
    }
    .ref{
       justify-content: center;
    }
    .container{
        margin: 0px 10px;
    }
    .sth-sec .wrapper span{
        margin: 0 20px;
    }
}


.sth-sec{
    max-width: 100vw;
}

.sth-sec .wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}
.sth-sec .wrapper h1{
    font-size: 1.3rem;
    color:#8224E3;
}

.sth-sec .wrapper p{
    font-size: 1rem;
    margin-top: 10px;
}

.lst-sec{
    max-width: 100vw;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.lst-sec .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row ;
    max-width: 1200px;
    margin: 20px auto;
}

.lst-sec .container .col{
    margin: 0 10px;
    display: flex;
    flex-flow: column;
    flex-basis: 30%;
    justify-content: flex-start;
    height: 200px;
    font-weight: 300;
}

@media (max-width:760px){
    .lst-sec .container .col{
        flex-basis: 50%;
        margin: 0px 10px;
        justify-content: center;
        align-items: center;
    }
    .lst-sec .container{
        flex-flow: row wrap;
    }
}

.lst-sec .container .col p{
    margin: 5px 0;
    color: #808285;
}

.lst-sec .container .col p a{
    text-decoration: none;
    display: block;
    color: #808285;
    margin: 5px 0;
}

.lst-sec .container .col p a:hover{
  color: #8224E3;
}

.lst-sec .container .col .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
 }

 .lst-sec .container .col img{
    max-width: 180px;
    max-height: 150px;
    margin: 0 5px;
 }

 .lst-sec .container .col .icon .icons{
    margin-top: 1rem;
}

.lst-sec .container .col .icon .icons span{
    display: inline-block;
    text-align: center;
    background: #00000024;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
}

.lst-sec .container .col .icon .icons span:hover{
    background: #8224E3;
    color: white;
}

.lst-sec .container .col .icon .icons span ion-icon{
    font-size: 1rem;
    margin-top: 12px;
}

/*MAIN END*/

/*FOOTER*/
footer{
    background-color: #F9F9F9;
    border-top: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    padding: 1rem;
}

.Footer{
    font-weight: 300;
    max-width: 1270px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/*FOOTER END*/